PROMISE_CONCURRENCY=3
QUERY_LIMIT=10
DATASET_SOURCE=data.sfgov.org
DATASET_ID=yitu-d5am
GEOCODE_URL=https://maps.googleapis.com/maps/api/geocode/json
GEOCODE_API_KEY=
CITY=san francisco
STATE_CODE=ca
STATE=california
COUNTRY_CODE=US
LOCATION_BOUNDS=37.7068,-122.5158|37.8108,-122.3569
OUTPUT_FILE_NAME=locations.json
